:root {
  --base-font-size: 8px;
  --header-primary-size: 4.1rem;
  --header-secondary-size: 3rem;
  --body-font-size: 2.5rem;
  --footer-font-size: 2rem;
  --meta-font-size: 2rem;
  --heading-font-family: system-ui, Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
  --heading-dash-width: 2rem;
  --heading-dash-height: 0.5rem;

  --container-width: 89rem;

  --spacing-xlarge: 16rem;
  --spacing-large: 9rem;
  --spacing-medium: 5rem;
  --spacing-small: 2rem;
  --spacing-xsmall: 1rem;

  --color-black: #121E2A;
  --color-blue: #0000FF;
  --color-white: #FFFFF5;
  --color-yellow: #0072C5;
  --color-bright-yellow: #33A9FE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: var(--base-font-size);
  color: var(--color-white);
}

h1 {
  font-size: var(--header-primary-size);
  color: var(--color-white);
}

h2 {
  font-size: var(--header-secondary-size);
  color: var(--color-white);
}

.body-bg {
  background-color: var(--color-black);
}

body {
  font-size: var(--body-font-size);
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui;
  background-color: var(--color-black);
}

a {
  color: var(--color-yellow);
}

a:hover {
  color: var(--color-bright-yellow);
}

img {
  display: block;
  width: 100%;
}

