.excerpt {
  font-size: var(--body-font-size);
  padding-bottom: var(--spacing-small);
 }

.meta {
  font-size: var(--meta-font-size);
}

.content {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--spacing-xsmall);
  margin-top: var(--spacing-medium);
}

.content > * + * {
  margin-top: var(--spacing-small);
}

.content img {
  max-width: 720px;
  margin-top: var(--spacing-medium);
}

.postmeta {
  margin-bottom: var(--spacing-small);
  font-style: italic;
}

.content pre {
  margin-bottom: var(--spacing-medium);
}