.excerpt {
 font-size: var(--body-font-size);
}

.content {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--spacing-xsmall);

}

.content > * + * {
  margin-top: var(--spacing-small);
}

.content img {
  max-width: 720px;
}

.postmeta {
  margin-bottom: var(--spacing-small);
  font-style: italic;
}